.app-layout {
    display: flex;
    width: 300px;
    height: 600px;
    background: #22627d;
background: linear-gradient(90deg, rgba(34, 98, 125, 1) 0%, rgba(79, 152, 176, 1) 100%);
    flex-direction: column;
  }
  
  