.app-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 500px;
    max-width: 100vw;
    background-color: #f0f4f7;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
}