.app-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 500px;
    max-width: 100vw;
    background-color: #f0f4f7;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
    margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  justify-content: center; 
  align-items: center;      /* CENTRALIZA VERTICAL */
  background-color: #5a372f; /* fundo externo */
}
