.containerChat {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 85%;
    height: 500px auto;
    padding: 10px;
    background-color: #f5f5f5;
    margin: 0 auto;
    border-radius: 10px;
    gap: 20px;
}

.messageBox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 10px;
}

.userProfile {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 188, 112);
    padding: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50px;
}

.messageContent {
    display: flex;
    flex-direction: column;
    text-align: start;
    align-items: start;
    justify-content: start;
    font-size: 10px;
    background-color: bisque;
    padding: 10px;
    border-bottom-right-radius: 10px;
}