/* Container principal com scroll e respiro para o footer */
.homeContainer {
    background-color: #f4f6f8;
    padding-top: 15px;
    padding-bottom: 50px; 
}

.homeBox {
    width: 100%;
    margin: 0 auto;
}

/* ================= SALDO ================= */
.homeAmountContainer {
    margin-top: 45px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.4);
}

/* ================= OPÇÕES RÁPIDAS (Pagar, Pix, etc) ================= */
.homeOptionsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 15px;
    gap: 10px;
    padding: 20px;
}

.homeOptionsBox {
    flex: 1;
    height: 75px; 
    background-color: #ffffff;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 11px;
    font-weight: 500;
    box-shadow: 0 2px 6px rgba(0,0,0,0.4);
    text-align: center;
    color: #333;
    cursor: pointer;
    transition: 0.2s ease;
}

.homeOptionsBox:hover {
    transform: translateY(-2px);
}

.homeOptionsBox i {
    font-size: 18px;
    color: #0d5cab;
    margin-bottom: 6px;
    padding: 6px;
    border-radius: 8px;
}

/* ================= SEÇÃO DE SERVIÇOS ================= */
.homeServicosHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.homeServicosHeader span {
    font-weight: 600;
    font-size: 12px;
    color: #333;
    margin-top: 15px;
}

.homeServicosHeader .showAll {
    color: #0d5cab;
}

.homeServicosGrid {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    gap: 22px;
    margin: 0 auto;
    width: 100px;
}

.homeServicoCard {
    background-color: #ffffff;
    border-radius: 15px;
    padding: 12px;
    width: 150px;
    height: 55px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    justify-content: center;
    box-shadow: 0 2px 6px rgba(0,0,0,0.4);
    cursor: pointer;
    transition: 0.2s ease;
    margin-top: 20px;
}

.homeServicoCard:hover {
    transform: translateY(-2px);
}

/* Círculo do ícone reduzido conforme o novo print */
.iconCircle {
    background-color: #f0f7ff;
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.homeServicoCard i {
    font-size: 18px;
    color: #0d5cab;
}

.homeServicoCard span {
    font-size: 13px;
    font-weight: 500;
    color: #444;
}