.homeContainer {
    background-color: white;
    height: 600px;
    margin-top: 20px;
    padding-top: 1px; /* Evita colapso de margem */
}

.homeOptionsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.homeOptionsBox{
    width: 50px;
    height: 50px;
    background-color: #f2f2f2;
    color: black;
    font-weight: bolder;
    font-size: 8px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.homeOptionsBox i {
    font-size: 13px;
    color: blue;
}
